*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.card {
    background: linear-gradient(to right, rgb(221, 165, 24), rgb(255, 222, 37));
    height: 443px;
    width: 345px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgb(49, 48, 48);
}

.card:hover {
    box-shadow: 0px 0px 17px rgb(49, 48, 48);
} 

.card__thumbnail {
    background: linear-gradient(to right,rgb(102, 70, 28), rgb(199, 141, 64));
    height: 95%;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    position: relative;
    top: 8px;
    text-align: center;
}

.card__stats {
    background: linear-gradient(to right, rgb(177, 152, 118),rgb(248, 220, 180));
    min-height: 50%;
    border-radius: 0px 0px 10px 10px;
}
/* GREEN GRASS*/
.card__b--green {
    background: linear-gradient(to right, rgb(70, 143, 41), rgb(20, 128, 114));
}
.card__t--green {
    background: linear-gradient(to right, rgb(20, 71, 37), rgb(19, 100, 65));
}
.card__s--green {
    background: linear-gradient(to right, rgb(66, 150, 136), rgb(116, 167, 136));
}
/* RED FIRE*/
.card__b--red {
    background: linear-gradient(to right, rgb(221, 100, 30), rgb(168, 76, 22));
}
.card__t--red {
    background: linear-gradient(to right, rgb(100, 19, 19), rgb(141, 23, 23));
}
.card__s--red {
    background: linear-gradient(to right, rgb(160, 90, 57), rgb(199, 118, 80));
}

/* BLUE WATER*/
.card__b--blue {
    background: linear-gradient(to right, rgb(18, 124, 110), rgb(20, 180, 146));
}
.card__t--blue {
    background: linear-gradient(to right, rgb(8, 87, 87), rgb(11, 121, 121));
}
.card__s--blue {
    background: linear-gradient(to right, rgb(103, 170, 170), rgb(128, 202, 202));
}

.card-yellow-b {
    background: linear-gradient(to right, rgb(221, 165, 24), rgb(255, 222, 37));
}

.card__types {
    background-color: black;
    height: 35px;
    width: 80px;
    position: absolute;
    top: 200px;
    left: 10px;
    color: white;
    border-radius: 5px;
}

.card_type {
    font-size: small;
    text-transform: capitalize;
    position: relative;
    top: 8px;
    color: rgb(255, 255, 255);
}

.card__footer {
    position: relative;
    top: 5px;
    color: rgba(207, 207, 207, 0.493);
}

.card__name {
    text-transform: capitalize;
}

.card__img {
    min-height: 50%;
    width: 60%;
}

.card__stats-list {
    font-size: smaller;
    list-style-type: none;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    text-align: left;
}